
:root {
    --white: #FFFFFF;
    --black: #000000;   
    --btn-color-blue:#3554BC;
    --hover-sky-blue: #48E6EA;
    --very-light-blue: #DAF0FD;
    --very-light-purple: #D9C9ED;
    --very-light-pinkl:#d8d8d8;
    --very-ligh-gray:#333333;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans'
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 640px){
    .menu{
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb{
    background: rgb(143,214,227);
    background: linear-gradient(0deg, rgba(143,214,227,1) 5%, rgba(210,140,219,1) 47%, rgba(143,214,227,1) 100%);
    border-radius: 10px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1rem;
}

a:hover {
    color: var(--accent-color);
    font-size: 1.5rem;
    transition: 0.7s;
}

.progress-bar{
    position: fixed;
    width: 100%;
    height: 10px;
}
.progress{
    width: 0%;
    height: 100%;
    background-color: var(--very-light-purple);
}
.menu{
    display: none;
}
/********* NAVIGATION BAR *********/

header {
    position: relative;
    padding: 0 2rem;
    height: 90px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--very-light-pinkl);
    background-color: var(--very-light-blue);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); 
}

.navbar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    width: 95px;
    height: auto;

}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
}
.navbar .links li a {
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
    padding: 4px;
    display: inline-block; 
}


.navbar .links li a:hover {
    background-color: var(--hover-sky-blue);
    border: 1px solid var(--very-light-purple);
}

.navbar.links li:first-child a:hover,
.navbar.links li:nth-child(4) a:hover,
.navbar.links li:last-child a:hover {
    display: block;
    text-align: center;
}



.navbar .toggle_btn {
    color: var(--color-black);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .toggle_btn:hover {
    color: var(--accent-color);
}
.primary-button{
    background-color: var(--btn-color-blue);
    margin-left: 25px;
    border: none;
    color: var(--white);
    height: 42px;
    width: 150px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

#tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    display: none;
    font-family: var(--roboto-font);
}

/********* DROPDOWN MENU *********/

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    height: 0;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: Arial, sans-serif;
}

.dropdown_menu.open {
    height: 350px;
}
.dropdown_menu.open a {
    text-decoration: none;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/********* RESPONSIVENESS DESIGN *********/

@media (max-width: 992px) {
    /********* TABLET *********/
    .navbar .links, .navbar  {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media (max-width: 576px) { 
    /********* PHONE *********/
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*Estilos del main-page*/

.main-page-first-article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px;
    width: 100%;
    height: 30%;
    background-color: #F4F4F4;
}

.main-page-first-article img{
    width: 100%;
    height: 50%;
}

.main-page-subtitle-article{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
}

.main-page-first-article p{
    font-family: 'Open Sans';
    font-size: 20px;
    color: #606060;
}

.main-page-first-article div:first-child{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 20px;
    width: 100%;
    height: 50%;
    gap: 25px;
}

.mainpage-button{
    background-color: var(--btn-color-blue);
    border: none;
    color: var(--white);
    height: 42px;
    width: 150px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.main-page-subtitle-article{
    font-weight: bold;
    font-size: 25px;
}
.main-page-second-article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin: 30px 0;
    width: 75%;
    height: 30%;
    background-color: #F4F4F4;
}
.second-article-part-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}
.article-description{
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #606060;
    text-align: center;
}
.secont-article-part-3-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 50%;
    height: 50%;
    font-family: 'Open Sans';
    font-size: 15px;
    color: #606060;
}
.second-article-part-3-images img{
    width: 70%;
    height: 70%;
}
.second-article-part-3-images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 100%;
}
.secont-article-part-3-description div{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50%;
}
.main-page-featuresprojects{
    width: 100%;
    height: 30%;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
}
.main-page-featuresprojects-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin: 30px 0;
    width: 70%;
}
.featuresprojects-examples{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.featuresprojects-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--lg);
    color: #B864F3;
    border: #EFECEC 1px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #48529944;
    padding: 20px;
    gap: 10px;
}
.featuresprojects-content img{
    width: 90%;
    height: 30vh;
}
.carousel-image{
    transition: opacity 0.5s ease-in-out;
}
.carousel-image.fade-out{
    opacity: 0;
}
/*Estilos del footer*/
.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 2px;
    gap: 30px;
    background-color: #F8F8F8;
}
.footer .logo{
    cursor: pointer;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer .logo img{
    height: 150px;
    width: 150px;
    transition: all 0.3s;;
}
.footer-listas{
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer-listas h3{
    color:#262626;
    font-family: 'Poppins';
    font-weight: 600;
    padding-bottom: 10px;
}
.footer .logo img:hover{
    transform: scale(1.2);
}
.footer ul li{
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
}
.footer ul li a{
    text-decoration: none;
    font-family: 'Open Sans';
    color: #545c5a;
}
.container-preguntas {
    margin-top: 5vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.pf-text {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 2vw;
}

.pf-img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    box-shadow: 2px 2px 4px #00000043;
    margin-right: 2vw;
}

.preguntas {
    margin: 2vh 5vw;
}

.acordeon {
    width: 100%;
    max-width: 600px;
}

.acordeon .bloque {
    padding: 0rem;
    margin: 1rem 0;
    background-color: #E8E7E7;
}

.acordeon .h2 {
    padding: 1rem;
    border: 1em;
    font-size: 1.5rem;
    background-color: #E8E7E7;
    font-family: 'Poppins';
    font-weight: bolder;
}

.acordeon .contenido {
    font-family: 'Open sans';
    background-color: #E8E7E7;
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.acordeon .bloque.activo .contenido {
    height: 6em;
    background-color: #E8E7E7;
    padding-right: 1rem;
}

@media screen and (max-width: 768px) {
    .pf-img {
        width: 80%;
        max-width: none;
    }

    .acordeon .bloque.activo .contenido {
        height: 7.5em;
    }
}
.clients-feedback{
    margin-bottom: 2rem;
}
.subtitle-about-us{
    font-family: 'Poppins';
    text-align: center;
    color: #404040;
    margin-top: 2rem;
}

.testimony-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.feedback{
    justify-content: space-around;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.feedback-card p{
    margin: 0;
}
.feedback .feedback-card{
    width: 32vh;
    height: 45vh;
    background-color: #D9D9D9;
    color: var(--black);
    font-family: 'Open Sans';
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:1rem 3rem;
}
.feedback-card .feedback-text{
    font-family: 'Open Sans';
    font-size: 18px;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 0 25px;
}
.client-profile{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #F8F8F8;
    padding: 10px 0;
}
.client-profile img{
    height: 60px;
    width: 60px;
}

.client-img img{
    height: 70px;
    width: 70px;
    filter:drop-shadow(rgba(0, 0, 0, 0.183) 2px 2px 2px)
}

.stars{
    margin:0.5rem;
    color: #FFD43B
}
